@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #F7F7F7;
    --white-1: #FFFFFF;
    --orange: #FEA301;
    --sky-blue:#01ACFD;
    --black:#111111;
    --purple:#5D58EF;
    --section-title-color:#000000;
    --text-color:#808080;
    --font-primary: 'Quicksand', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
}


/* utilities css start  */
body{
  background-color: var(--white);
  font-family: var(--font-primary);
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
} 
.justify-start{
    justify-content: flex-start;
}  
.align-center{
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-row{
    flex-direction: row;
}

.full-width{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.container{ 
    width: 1160px;
}
.section-title{
  font-family: var(--font-primary);
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 2.875rem;
  line-height: 3.594rem;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    display: block;
}
.p-38{
    padding-left: 38.35px;
    padding-right: 38.35px;
}
.btn{
    color: var(--white);
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.875rem;
    width: 197px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
}
.btn-orange{
    background-color: var(--orange);
}
.btn-black{
    background-color: var(--black);
}
.btn:hover{
    background-color: var(--sky-blue);
}

.btn-m{
    display: none;
    margin-top: 30px;
}
@media (max-width: 900px) {
    .btn-d{
        display: none;
      }
    .btn-m{
        display: block;
    }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
    .container {
        width: 100%;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .section-title {
        font-size: 2.25rem;
        line-height: 2.813rem;
    }
    .btn-orange{
      display: none;

    }
}


@media (max-width: 576px) {
    .container {
        width: 100%;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .section-title{
        font-size: 1.625rem;
        line-height: 2.063rem;
        text-align: center;
    }
    .btn{
        width: 131px;
        height: 42px;
        font-size: 1rem;
    }
 
}
/* utilities css end  */
/* marquee-container start */
.marquee-container{
  
    padding: .5rem 0;
}
.marquee-container .marquee-text{
  margin-bottom: .5rem;
}
.marq-1{
    color: var(--orange);
}
.marq-2{
    color: var(--sky-blue);
}
.marq-3{
    color: var(--purple);
}	
/* marquee-container edn */

/* header css start  */
  
.header {
    padding: 1.25rem;
    background-color: var(--white);
}
.header-container {
    height: 3.875rem;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 3.875rem;
}
.logo .logo-text {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    margin-left:0.625rem;
}
.nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 14%;
    left: 0;
    right: 0;
    background-color: var(--white);
    padding: 10px;
    padding-left: 2.188rem;
    
}
.nav-item {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
}
.nav-item:hover {
    color: var(--orange);
    text-decoration: underline;
}
.nav-item-1 {
    color: var(--orange);
}
.nav-item-2, .nav-item-3 {
    color: var(--sky-blue);
}
.nav-item-4 {
    color: var(--purple);
}
.menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
}
.menu-checkbox {
    display: none;
}
.menu-checkbox:checked + .menu-icon + .nav {
    display: flex;
}

@media (min-width: 769px) {
    .nav {
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: static;
        padding: 0;
       
    }
    .menu-icon {
        display: none;
    }
}
@media (max-width: 769px) {
    .header{
        border-bottom:1px solid var(--orange);
       } 
    .logo-text{
     display: none;
    }
}

/* header css end  */

/* banner css start  */
.banner-container{
    gap: 50px;
}
.banner-content{
 width: 640px;
}
.banner-title{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3.813rem;
}
.banner-title-color-1{
    color: var(--orange);
}
.banner-title-color-2{
    color: var(--black);
}
.banner-title-color-3{
    color: var(--sky-blue);
}
.banner-description{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
@media (max-width: 1024px) {
    .banner-container{
        flex-direction: column-reverse; 
        padding-top: 1.5rem; 
       }
    .banner-content{
        width: 100%;
       } 
}
@media (max-width: 576px) {
    .banner-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-title{
        font-size: 2rem;
        line-height: 2.813rem;
        text-align: center;
       }
    .banner-description{
        font-size:0.875;
        line-height: 1.5rem;
        text-align: center;
       }
}

/* banner css end */

/* standard css start  */
.standard-container{
  padding: 60px 0;
  gap: 80px;
  background-image: url('../assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 576px) {
    .standard-container{
        padding: 40px 0;
        gap:20px
    }
}
.box-container{
    gap: 20px;
}
.box{
    width:22.988rem;
    height: 29.799rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}


.box-1{
    border: 0.94px solid rgb(222, 245, 255);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.box-2{
    border: 0.94px solid rgb(255, 244, 220);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.box-3{
    border: 0.94px solid rgb(242, 232, 255);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.box-icon{
    width: 125.41px;
    height: 126.1px;
}

.box-title{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.916rem;
    color: var(--black);
}
.box-description{
    font-family: var(--font-secondary);
    font-size: 0.943rem;
    font-weight: 500;
    line-height: 1.769rem;
    text-align: center;
    color: var(--text-color);
}
.read{
   font-size: 0.943rem;
   font-weight: 700;
   line-height: 1.769rem;
}
.read:hover{
    color: var(--orange);
    text-decoration:underline;
}
.read-1{
    color: #64C8FF;
}
.read-2{
    color: #F0AA00;
}
.read-3{
    color: #8700FF;
}

.btn-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cricle-one{
   margin-right: 10px;
}

@media (max-width: 576px) {
    .box-container{
        padding: 0 20px;
        gap:22px;
       }
    .box{
        width:100%;
        height: 324.47px;
        padding: 36px 28px;
    }
    .box-icon{
        width: 89.78px;
        height: 91.54px;
    }
    .box-title{
        font-size:1.038rem;
        line-height: 1.297rem;
    }
    .box-description{
        font-size: 0.639rem;
        line-height: 1.198rem;
    }
    .read{
        font-size: 0.639rem;
        line-height: 1.198rem;
    }
    .btn-circle{
    display: none;
    }
}


/* standard css end */

 /* story css start  */
 .story{
    background:url('../assets/bg.png'), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center top;
}
.story-container{
    padding: 60px 0;
    gap: 80px;
}

.story-box-container{
    gap: 19px;
}
 .story-box-left{
    width:33.767rem;
    height:39.408rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background:#fff;
    position: relative;
 }
 .story-image{
  width: 100%;
  height: 21.063;
  position: relative;
}
.story-image img{
 border-radius: 16px 16px 0 0;
 
}
.story-title{
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.397rem;
  margin-top:61.51px;
}
.story-description{
  font-family: var(--font-secondary);
  font-size: 0.959rem;
  font-weight: 500;
  line-height: 1.798rem;
  color: #666666;
  margin-top:51.77px;
}
.date{
    position: absolute;
    top:50%;
    color: rgb(255, 255, 255);
    font: family var(--font-secondary);
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    text-transform: capitalize;
    padding: 0.5rem 1.5rem;
    left: 38.35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 47.93px;
   
}
.date-1{
    background: rgb(60, 216, 232);
}
.date-2{
    background-color: #95B226;
}
.date-3{
    background-color: #5D58F0;
}

.story-box-right{
    gap:1.212rem;
}
.story-box-bottom-container,.story-box-top-container{
    gap: 1.198rem;
} 
.story-right-box{
  background: #fff;
  border-radius: 16px;
  width:18.168rem;
  height: 18.851rem;
 
}
.s-r-title{
    font-family:var(--font-primary);
    font-size: 15.34px;
    font-weight: 700;
    line-height: 28.76px;
    padding-left: 37.91px;
    padding-top: 43.12px;
    color: var(--section-title-color);
}
                              
.date-f{
 top:85% !important;
}
.date-s{
    top: 85% !important;
}

@media (max-width: 576px) {
    .story-container{
        padding: 40px 0;
        gap:20px
    }
    .story-box-right{
        padding: 0 20px;
    }
    .story-box-left{
      display: none;
    }
    .story-right-box{
        width:50%;
        height:  179.59px;
    }
    .date{
        font-size: 9.13px;
        font-weight: 500;
        line-height: 17.12px;
        padding: 0.313rem 1rem;
        left: 22.57px;
    }
  
    .s-r-title{
        font-family:var(--font-primary);
        font-size: 9.13px;
        font-weight: 700;
        line-height: 17.12px;
        padding-left: 22.83px;
        padding-top: 25.68px;
   
    }  
    
}
 /* story css end  */


 /* footer css start  */
 .footer{
  background: var(--sky-blue);
  padding: 100px 0;
}

 .w-50{
    width: 50%;
}

.footer-logo a img{
    width: 82.9px;
    height: 81.65px;
}
.footer-logo-text{
    font-size: 42.14px;
    font-weight: 700;
    line-height: 39.51px;
    color: var(--white-1);
}
.footer-left p{
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color:var(--white-1);
    margin-top: 35.35px;
}
.footer-right h3{
    font-family:var(--font-primary);
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: var(--white-1);
}
.footer-right ul{
    margin-top: 32px;
}
.footer-right ul li{
    margin-top: 20px;
}
.footer-right ul li a{
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color:var(--white-1);
}
.footer-right ul li a:hover{
    color: var(--orange);
    text-decoration: underline;
}
.social-icon{
    gap: 10.15px;
}
.social-icon{
  margin-top: 32px;
}
.social-icon img{
    width: 40.61px;
}


@media (max-width: 576px) {
  .footer-container{
    flex-direction: column;
    gap: 32px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer-right{
    flex-direction: column;
    gap: 31.98px;
 }
 .footer-left, .footer-right, .footer-touch, .footer-about{
    width: 100%;
 }
 .footer-logo{
    width: 69.23px;
}
 .footer-logo img{
    width: 69.23px;
    height: 69.23px;
 }
 .footer-logo-text{
    font-size: 35.73px;
    font-weight: 700;
    line-height: 37.5px;
 }
 .footer-left p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
 }
 .footer-right h3{
    font-size: 20.35px;
    font-weight: 600;
    line-height: 25px;
 }
 .footer-right ul li a{
    font-size: 16.96px;
    font-weight: 500;
    line-height: 21px;
    }
  .social-icon img{
    width: 33.91px;
  }

}
 /* footer css end */